<nav
  class="d-none d-md-flex align-items-center justify-content-between"
  style="height: 80px"
>
  <div class="d-flex">
    <img src="/src/assets/img/shopia.svg" width="40px" alt="" />
    <div class="ms-3 d-flex flex-column h-auto">
      <span class="text-md fw-medium text-black"
        >Sofia Williams <img src="/src/assets/icons/verified-fill.svg" alt=""
      /></span>
      <span class="text-sub-500 text-sm">Welcome back to MySign 👋🏻</span>
    </div>
  </div>
  <div class="d-flex align-items-center gap-3">
    <div
      class="d-flex justify-content-center align-items-center"
      style="width: 40px; height: 40px"
    >
      <img src="/src/assets/icons/search-icon.svg" alt="" />
    </div>
    <div
      class="d-flex justify-content-center align-items-center"
      style="width: 40px; height: 40px"
    >
      <img src="/src/assets/icons/nontif-icon.svg" alt="" />
    </div>
    <button class="button-outlined d-flex gap-2" style="padding: 6px 10px">
      <span class="text-sm">English</span>
      <img src="/src/assets/icons/arrow-down.svg" alt="" />
    </button>
    <button
      class="button button-primary d-flex align-items-center gap-2"
      style="padding: 6px 15px 6px 10px"
    >
      <img src="/src/assets/icons/edit-2-line.svg" alt="" /><span
        class="text-sm"
        >Sign Document</span
      >
    </button>
  </div>
</nav>
