@import url("utils/colors.css");
@import url("utils/fonts.css");
@import url("utils/button.css");
@import url("utils/chart.css");
@import url("utils/tabs.css");

ul {
  padding-left: 0;
}
li {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: unset;
}

div {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}
