@import url("utils/colors.css");
@import url("utils/fonts.css");
@import url("utils/button.css");
@import url("utils/chart.css");
@import url("utils/tabs.css");
@import url("utils/outline.css");

.h-full {
  height: 100vh;
}

ul {
  padding-left: 0;
}
li {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: unset;
}

div {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

.basis-mobile-48 {
  flex-basis: 48%;
}

.basis-mobile-100 {
  flex-basis: 100%;
}

.vw-mobile-100 {
  width: 100vw;
}

@media screen and (min-width: 768px) {
  .basis-mobile-48 {
    flex-basis: unset;
  }

  .basis-mobile-100 {
    flex-basis: unset;
  }

  .vw-mobile-100 {
    width: auto;
  }
}
