.button {
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.button.button-sm {
  padding: 5px 10px;
  font-size: 14px;
}

.button:hover {
  opacity: 0.8;
}

.button-primary {
  background-color: var(--primary);
  color: white;
  border-radius: 8px;
}
.button-primary-base {
  background-color: var(--primary-base);
  color: white;
  border-radius: 8px;
}

.button-outlined {
  border: 2px solid;
  border-color: #e2e4e9;
  border-radius: 8px;
  background-color: transparent;
}
.button-outlined-danger {
  border: 2px solid;
  border-color: var(--red-base);
  color: var(--red-base);
  border-radius: 8px;
  background-color: transparent;
}

.button-outlined-rounded-lg {
  border: 1px solid;
  border-color: #e2e4e9;
  border-radius: 16px;
  background-color: transparent;
}

.button-outlined-md {
  border: 1px solid;
  border-color: #e2e4e9;
  border-radius: 8px;
  background-color: transparent;
  padding: 8px 14px;
}
.button-outlined-primary {
  border: 2px solid;
  border-color: var(--primary);
  color: var(--primary);
  font-weight: 600;
  border-radius: 8px;
  background-color: transparent;
}

.button-circle {
  border: 1px solid;
  border-color: #e2e4e9;
  border-radius: 50%;
  background-color: transparent;
}

.button-primary-unline {
  border: 0;
  background-color: var(--primary);
  border-radius: 10px;
  color: white;
}

.border-r {
  border-right: 1px solid var(--soft-200);
}


.button-transparent {
  background: none;
  border: none;}

.button-soft-400 {
  color: white;
  border: 1px solid;
  border-color: #e2e4e9;
  border-radius: 8px;
  background-color: var(--soft-400);


}

.button-outlined-primary {
  border: 1px solid var(--primary-base);
  border-radius: 8px;
  background-color: transparent;
  color: var(--primary-base);

}
