.button {
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  opacity: 0.8;
}

.button-primary {
  background-color: var(--primary);
  color: white;
  border-radius: 8px;
}

.button-outlined {
  border: 1px solid;
  border-color: #e2e4e9;
  border-radius: 8px;
  background-color: transparent;
}

.button-outlined-rounded-lg {
  border: 1px solid;
  border-color: #e2e4e9;
  border-radius: 16px;
  background-color: transparent;
}

.button-outlined-md {
  border: 1px solid;
  border-color: #e2e4e9;
  border-radius: 8px;
  background-color: transparent;
  padding: 8px 14px;
}

.border-r {
  border-right: 1px solid var(--soft-200);
}
