@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.txt-primary {
  color: var(--primary);
}

.text-sub-500 {
  color: var(--sub-500);
}

.text-soft-400 {
  color: var(--soft-400);
}

.text-xs {
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 16px;
}
.text-lg {
  font-size: 18px;
}

.text-lg {
  font-size: 18px;
}
.text-s {
  font-size: 12px;
}

.fw-semibold {
  font-weight: 600;
}

.fs-11 {
  font-size: 11px;
}

.text-placeholder-md::-webkit-input-placeholder {
  font-size: 14px;
}
@media all and (min-width: 360px) and (max-width: 760px) {
  .fs-11 {
    font-size: 13px;
  }
  .overview-img {
    height: 50px;
  }
  .fw-semibold {
    font-weight: 500 !important;
  }
}
