.tabs {
  color: #868c98;
  display: flex;
  position: relative;
  background-color: #f6f8fa;
  padding: 5px 6px;
  border-radius: 15px;
}

.tabs > * {
  z-index: 2;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: color 0.5s, text-shadow 0.5s, font-size 0.5s;
}

input[type="radio"]:checked + label {
  color: black;

  font-size: 14px;
}
input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.selector {
  position: absolute;
  display: flex;
  height: 30px;
  width: 80px;
  background-color: white;
  z-index: 1;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

input[id="tab1"]:checked ~ .selector {
  transform: translateX(0);
}

input[id="tab2"]:checked ~ .selector {
  transform: translateX(100%);
}

input[id="tab3"]:checked ~ .selector {
  transform: translateX(200%);
}
