input[type="radio"]:checked + label {
  color: black;

  font-size: 14px;
}
input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.selector {
  position: absolute;
  display: flex;
  height: 30px;
  width: 20%;
  background-color: white;
  z-index: 1;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

input[id="tab1"]:checked ~ .selector {
  transform: translateX(0);
}

input[id="tab2"]:checked ~ .selector {
  transform: translateX(100%);
}

input[id="tab3"]:checked ~ .selector {
  transform: translateX(200%);
}
input[id="tab4"]:checked ~ .selector {
  transform: translateX(300%);
}
input[id="tab5"]:checked ~ .selector {
  transform: translateX(400%);
}
