<aside class="signature-sidebar">
  <span class="txt-gray text-uppercase">send for signature</span>
  <ul class="mt-3">
    <li class="p-3">
      <a href="" class="d-flex gap-2 text-capitalize">
        <img src="/src/assets/icons/blue-checklist.svg" width="20px" />
        Select Documents
      </a>
    </li>
    <li class="p-3">
      <a href="" class="d-flex gap-2 text-capitalize">
        <img src="/src/assets/icons/blue-checklist.svg" width="20px" />
        Add Signers
      </a>
    </li>
    <li class="p-3 active">
      <a href="" class="d-flex gap-2 text-capitalize">
        <img src="/src/assets/icons/blue-checklist.svg" width="20px" />
        Preview
      </a>
    </li>
    <li class="p-3">
      <a href="" class="d-flex gap-2 text-capitalize">
        <img src="/src/assets/icons/blue-checklist.svg" width="20px" />
        Review & Send
      </a>
    </li>
  </ul>
</aside>

<style>
  .signature-sidebar {
    background-color: #f6f8fa;
    padding: 12px;
    border-radius: 12px;
  }

  .signature-sidebar li {
    border-radius: 12px;
  }

  .signature-sidebar li a {
    color: #525866;
  }

  .signature-sidebar li.active {
    background-color: white;
  }

  .txt-gray {
    color: #868c98;
  }
</style>
