<aside class="signature-sidebar">
  <span class="txt-gray text-uppercase">send for signature</span>
  <ul class="mt-3">
    <li class="p-3">
      <a href="" class="d-flex gap-2 text-capitalize">
        <img src="/src/assets/icons/blue-checklist.svg" width="25px" />
        Select Documents
      </a>
    </li>
    <li class="p-3">
      <a href="" class="d-flex gap-2 text-capitalize">
        <img src="/src/assets/icons/blue-checklist.svg" width="25px" />
        Add Signers
      </a>
    </li>
    <li class="p-3">
      <a href="" class="d-flex gap-2 text-capitalize">
        <img src="/src/assets/icons/blue-checklist.svg" width="25px" />

        <span>Preview</span>
      </a>
    </li>
    <li class="p-3 active">
      <a href="" class="d-flex gap-2 text-capitalize">
        <div class="stepper active">4</div>
        <span> Review & Send</span>

        <img
          src="/src/assets/icons/arrow-right-s-line.svg"
          width="20px"
          class="ms-auto d-block"
        />
      </a>
    </li>
  </ul>

  <div class="mt-5 text-center">
    <span class="text-sm text-soft-500">Having trouble with document?</span>
    <button class="button button-outlined bg-white mt-2 fw-semibold">
      <img src="/src/assets/icons/headphone-line.svg" />
      Contact Us
    </button>

    <div class="mt-3 text-soft-400 text-sm">© 2024 Apex MySign</div>
  </div>
</aside>

<style>
  .signature-sidebar {
    background-color: #f6f8fa;
    padding: 12px;
    border-radius: 12px;
  }

  .signature-sidebar li {
    border-radius: 12px;
  }

  .signature-sidebar li a {
    color: #525866;
  }

  .signature-sidebar li.active {
    background-color: white;
  }

  .txt-gray {
    color: #868c98;
  }

  .signature-sidebar .stepper {
    background-color: white;
    padding: 4px 9px;
    border-radius: 100px;
    font-size: 12px;
    height: fit-content;
  }

  .signature-sidebar .active {
    background-color: var(--primary);

    color: white;
  }
</style>
